/*#####################################################################################################################
                                                                                                              
                    PPPPPPPPPPPPPPPPP                                                                              
                    P::::::::::::::::P                                                                             
                    P::::::PPPPPP:::::P                                                                            
                    PP:::::P     P:::::P                                                                           
xxxxxxx      xxxxxxx  P::::P     P:::::Paaaaaaaaaaaaa     ggggggggg   ggggg    eeeeeeeeeeee    rrrrr   rrrrrrrrr   
 x:::::x    x:::::x   P::::P     P:::::Pa::::::::::::a   g:::::::::ggg::::g  ee::::::::::::ee  r::::rrr:::::::::r  
  x:::::x  x:::::x    P::::PPPPPP:::::P aaaaaaaaa:::::a g:::::::::::::::::g e::::::eeeee:::::eer:::::::::::::::::r 
   x:::::xx:::::x     P:::::::::::::PP           a::::ag::::::ggggg::::::gge::::::e     e:::::err::::::rrrrr::::::r
    x::::::::::x      P::::PPPPPPPPP      aaaaaaa:::::ag:::::g     g:::::g e:::::::eeeee::::::e r:::::r     r:::::r
     x::::::::x       P::::P            aa::::::::::::ag:::::g     g:::::g e:::::::::::::::::e  r:::::r     rrrrrrr
     x::::::::x       P::::P           a::::aaaa::::::ag:::::g     g:::::g e::::::eeeeeeeeeee   r:::::r            
    x::::::::::x      P::::P          a::::a    a:::::ag::::::g    g:::::g e:::::::e            r:::::r            
   x:::::xx:::::x   PP::::::PP        a::::a    a:::::ag:::::::ggggg:::::g e::::::::e           r:::::r            
  x:::::x  x:::::x  P::::::::P        a:::::aaaa::::::a g::::::::::::::::g  e::::::::eeeeeeee   r:::::r            
 x:::::x    x:::::x P::::::::P         a::::::::::aa:::a gg::::::::::::::g   ee:::::::::::::e   r:::::r            
xxxxxxx      xxxxxxxPPPPPPPPPP          aaaaaaaaaa  aaaa   gggggggg::::::g     eeeeeeeeeeeeee   rrrrrrr            
                                                                   g:::::g                                         
                                                       gggggg      g:::::g                                         
                                                       g:::::gg   gg:::::g                                         
                                                        g::::::ggg:::::::g                                         
                                                         gg:::::::::::::g                                          
                                                           ggg::::::ggg                                            
                                                              gggggg
															  
© xPager - xGallery - Manuel Kleinert - www.xpager.ch - info(at)xpager.ch - v 1.1.0 - 25.06.2014
#####################################################################################################################*/

.xpager-gallery{
    position:relative;   
}

.xpager-gallery div img{
	cursor:pointer;
}

.xpager-gallery .xpager-conainer{
	margin-bottom:20px;
}

.xpager-gallery .page-navigation{
    display:inline-block;
}

.xpager-gallery .page-navigation div{
    display:inline-block;
    margin:5px;
    height:35px;
    width:35px;
    border:solid 1px #ccc;
    text-align:center;
    line-height:32px;
}

.xpager-gallery .next_btn:before{
    content:">>";
}

.xpager-gallery .prev_btn:before{
    content:"<<";
} 

.xpager-gallery .page-num{
    display:inline-block;
    margin:5px;
    height:35px;
    width:35px;
    text-align:center;
    line-height:32px;
}

.xpager-gallery .page-points{
    display:inline-block;
    height:35px;
}

.xpager-gallery .page-points .points-content .point{
    display:inline-block;
    height:20px;
    width:20px;
    text-align:center;
    line-height:16px;
    border:solid 2px #ccc;
    border-radius:10px;
    font-size:12px;
    margin:5px;
}

.xpager-gallery .page-points .points-content .point.activ{
    border-color:#666;
}

.xpager-gallery .page-points .points-content .point span{
    margin-right:1px;
}

.xpager-gallery .surface{
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:99998;
    background-color:rgba(0,0,0,0.8);
    display:none;
    cursor:pointer;
}

.xpager-gallery .surface .border{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:999;
    overflow:hidden;
    opacity:0;
}

.xpager-gallery .surface .loader{
    display:block;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height:50px;
    width:50px;
    background-image:url(img/loader.gif);
    background-size:cover;
}

.xpager-gallery .surface .border{
    z-index: 1;
}

.xpager-gallery .surface .border img{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor:default;
}

.xpager-gallery .surface .next_btn:before, .xpager-gallery .surface .prev_btn:before{
    content:""!important;
} 

.xpager-gallery .surface .next_btn, .xpager-gallery .surface .prev_btn{
    display:inline-block;
    position:absolute;
    top:50%;
    height:60px;
    width:50px;
    margin-top:-25px;
    text-align:center;
    line-height:50px;
    cursor:pointer;
    z-index:10;
    background-image:url(img/nav_prev.png);
}

.xpager-gallery .surface .next_btn{
    right:0px;
    background-image:url(img/nav_next.png);
}

.xpager-gallery .surface .close_btn{
    color:#fff;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    height:50px;
    width:50px;
    text-align:center;
    line-height:50px;
    cursor:pointer;
    font-size:30px;
}

.xpager-gallery .surface .close_btn:before{
    content:"x";
}

.xpager-gallery .surface .comment{
	position: fixed;
	color: #fff;
	bottom: 5px;
    left:0px;
	width: 100%;
	text-align: center;
}

.xpager-gallery .surface .nummber{
    position: fixed;
	color: #fff;
	bottom: 10px;
    right:10px;
	text-align: center;  
}